// GLOBAL STYLING
#also-enjoyed-service {
  width: 100%;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}
// CAROUSEL STYLING
.also-enjoyed-carousel {
  overflow: hidden;
  width: calc((150px + 20px) * 6);
  height: 225px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  white-space: nowrap;
  position: relative;

  .also-enjoyed-toggle-arrows-container {
    z-index: 99;
  }
  .also-enjoyed-toggle-arrow {
    width: 40px;
    height: 90px;
    position: absolute;
    top: 30px;
    background-color: rgba(210, 210, 210, 0.5);
    vertical-align: middle;
    display: inline-block;
    background-image: url('./next.png');
    background-repeat: no-repeat;
    background-size: 30px;
    opacity: 0.5;
    background-position: center;
  }

  #also-enjoyed-previous {
    left: 0;
    transform: scaleX(-1);
  }
  #also-enjoyed-next {
    right: 20px;
  }
}
.also-enjoyed-carousel:hover .also-enjoyed-toggle-arrow {
  background-color: rgba(230, 230, 230, 1);
  opacity: 1;
}
// BOOK ITEM STYLING
.also-enjoyed-bookItem {
  width: 150px;
  margin-right: 20px;
  display: inline-block;
}
.also-enjoyed-bookCover {
  max-width: 100%;
  border: 0;
  cursor: pointer;
}
.also-enjoyed-under-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.also-enjoyed-bookTitle {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  color: #141414;
}
.also-enjoyed-bookTitle:hover {
  text-decoration: underline;
}
.also-enjoyed-bookAuthor-area {
  font-weight: 400;
  line-height: 22px;
  margin: 4px 0 0 0;
  color: rgba(20,20,20,0.65);
}
.also-enjoyed-bookAuthor {
  color: #0274B6;
  cursor: pointer;
}
.also-enjoyed-bookAuthor:hover {
  text-decoration: underline;
}

// TOGGLE DOTS
#toggledots-area {
  margin: auto;
  margin-top: 10px;
  width: 60px;
}
.toggledot {
  height: 9px;
  margin-right: 15px;
  opacity: 0.5;
}
#page2 {
  margin-right: 0;
}
.toggledot-not-selected:hover {
  opacity: 0.25;
}
.toggledot-selected {
  opacity: 1;
}

@media only screen and (min-width: 960px) {
  #also-enjoyed-service {
    max-width: 1020px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 960px) {
  #also-enjoyed-service {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
  }
  #toggledots-area {
    display: none;
  }
  .also-enjoyed-toggle-arrows-container {
    display: none;
  }
  .also-enjoyed-carousel {
    overflow-x: scroll;
  }
}